In [22]:
import pandas as pd
import numpy as np
import csv
import geopandas as gpd
import geopandas
from pyproj import Proj, transform
from shapely.geometry import Point

In [3]:
df = pd.read_csv(r"F:\wenqu\GPS\2022_GPS\GPS_CSV\siteb_processed_update1\quadrat.csv", skip_blank_lines=True)

In [4]:
df

                   Name   Longitude   Latitude
0   1B-T1-watertrack-Q1 -150.374930  67.085822
1   1B-T1-watertrack-Q1 -150.374922  67.085811
2   1B-T1-watertrack-Q2 -150.374971  67.085783
3   1B-T1-watertrack-Q2 -150.374971  67.085790
4              1B-T1-Q3 -150.374620  67.085741
..                  ...         ...        ...
67              S1B_Q29 -150.376119  67.085059
68              S1B_Q30 -150.376463  67.084940
69              S1B_Q30 -150.376480  67.084939
70              S1B_Q33 -150.373634  67.084024
71              S1B_Q33 -150.373650  67.084024

[72 rows x 3 columns]

In [5]:
name_list = df['Name'].tolist()
lat_list = df['Latitude'].tolist()
lon_list = df['Longitude'].tolist()

In [6]:
inProj = Proj(init='epsg:4326')
outProj = Proj(init='epsg:32605')

C:\Users\15086\anaconda3\envs\wenqu_gdal\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\15086\anaconda3\envs\wenqu_gdal\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [7]:
x_cor = []
y_cor = []
name_attribute_list = []
for i in range(len(name_list)):

#     print(i)    
    x, y = transform(inProj,outProj, lon_list[i],lat_list[i])        
    x_cor.append(x)
    y_cor.append(y)
    name_attribute_list.append(name_list[i])

C:\Users\15086\AppData\Local\Temp\ipykernel_23928\1287606168.py:7: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x, y = transform(inProj,outProj, lon_list[i],lat_list[i])

In [8]:
x_center = []
y_center = []
center_attribute_list = []
for i in range(int(len(name_list)/2)):
    print(i)    
    x1, y1 = transform(inProj,outProj, lon_list[2*i],lat_list[2*i])
    x2, y2 = transform(inProj,outProj, lon_list[2*i + 1],lat_list[2*i + 1])
    x_c = (x1 + x2)/2
    y_c = (y1 + y2)/ 2

        
    x_center.append(x_c)
    y_center.append(y_c)
    center_attribute_list.append(name_list[2*i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

C:\Users\15086\AppData\Local\Temp\ipykernel_23928\3437260782.py:6: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x1, y1 = transform(inProj,outProj, lon_list[2*i],lat_list[2*i])
C:\Users\15086\AppData\Local\Temp\ipykernel_23928\3437260782.py:7: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2, y2 = transform(inProj,outProj, lon_list[2*i + 1],lat_list[2*i + 1])

19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [9]:
df_center = pd.DataFrame(
    {'f_name': center_attribute_list,
     'X': x_center,
     'Y': y_center})

In [11]:
df_center

                 f_name              X             Y
0   1B-T1-watertrack-Q1  614028.227996  7.443353e+06
1   1B-T1-watertrack-Q2  614026.396014  7.443350e+06
2              1B-T1-Q3  614041.893873  7.443345e+06
3              1B-T1-Q4  614038.802257  7.443342e+06
4              1B-T1-Q5  614055.622586  7.443339e+06
5              1B-T1-Q6  614054.486333  7.443336e+06
6              1B-T1-Q7  614068.182920  7.443331e+06
7              1B-T1-Q8  614065.218057  7.443327e+06
8              1B-T1-Q9  614080.653962  7.443323e+06
9             1B-T1-Q10  614077.100750  7.443318e+06
10            1B-T1-Q12  614090.617683  7.443311e+06
11            1B-T1-Q11  614093.688234  7.443315e+06
12            1B-T2-Q13  614073.145036  7.443306e+06
13            1B-T2-Q15  614053.609637  7.443270e+06
14            1B-T2-Q14  614061.047320  7.443289e+06
15            1B-T2-Q16  614042.046792  7.443253e+06
16            1B-T2-Q17  614034.501582  7.443235e+06
17            1B-T2-Q18  614020.285199  7.443219e+06
18            1B-T2-Q19  614011.736172  7.443201e+06
19            1B-T2-Q20  613998.414660  7.443186e+06
20            1B-T2-Q21  613989.316745  7.443168e+06
21            1B-T2-Q22  613975.931632  7.443153e+06
22            1B-T2-Q24  614009.852903  7.443123e+06
23            1B-T2-Q23  614010.797760  7.443166e+06
24            1B-T4-Q34  614068.538825  7.443190e+06
25            1B-T4-Q36  614061.488771  7.443135e+06
26            1B-T4-Q35  614091.937182  7.443094e+06
27              S1B_Q31  614062.463125  7.443224e+06
28              S1B_Q32  614056.246243  7.443242e+06
29              S1B_Q25  614026.333358  7.443332e+06
30              S1B_Q26  614013.160782  7.443317e+06
31              S1B_Q27  614003.480580  7.443298e+06
32              S1B_Q28  613989.952669  7.443284e+06
33              S1B_Q29  613980.369839  7.443267e+06
34              S1B_Q30  613965.231444  7.443253e+06
35              S1B_Q33  614092.407003  7.443156e+06

In [10]:
inProj_back = Proj(init='epsg:32605')
outProj_back = Proj(init='epsg:4326')

C:\Users\15086\anaconda3\envs\wenqu_gdal\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\15086\anaconda3\envs\wenqu_gdal\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [14]:
df_center['f_name'][0]

'1B-T1-watertrack-Q1'

In [18]:
x_cor_back = []
y_cor_back = []
# name_attribute_list = []
for i in range(len(df_center['f_name'])):

#     print(i)    
    x, y = transform(inProj_back,outProj_back, df_center['X'][i],df_center['Y'][i])        
    x_cor_back.append(x)
    y_cor_back.append(y)
#     name_attribute_list.append(name_list[i])

C:\Users\15086\AppData\Local\Temp\ipykernel_23928\368427260.py:7: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x, y = transform(inProj_back,outProj_back, df_center['X'][i],df_center['Y'][i])

In [19]:
df_center_latlong = pd.DataFrame(
    {'f_name': center_attribute_list,
     'X': x_cor_back,
     'Y': y_cor_back})

In [20]:
df_center_latlong

                 f_name           X          Y
0   1B-T1-watertrack-Q1 -150.374926  67.085817
1   1B-T1-watertrack-Q2 -150.374971  67.085787
2              1B-T1-Q3 -150.374619  67.085738
3              1B-T1-Q4 -150.374694  67.085708
4              1B-T1-Q5 -150.374310  67.085674
5              1B-T1-Q6 -150.374339  67.085647
6              1B-T1-Q7 -150.374029  67.085601
7              1B-T1-Q8 -150.374101  67.085567
8              1B-T1-Q9 -150.373750  67.085523
9             1B-T1-Q10 -150.373836  67.085484
10            1B-T1-Q12 -150.373532  67.085417
11            1B-T1-Q11 -150.373458  67.085450
12            1B-T2-Q13 -150.373939  67.085373
13            1B-T2-Q15 -150.374423  67.085059
14            1B-T2-Q14 -150.374234  67.085224
15            1B-T2-Q16 -150.374705  67.084916
16            1B-T2-Q17 -150.374897  67.084752
17            1B-T2-Q18 -150.375238  67.084620
18            1B-T2-Q19 -150.375452  67.084460
19            1B-T2-Q20 -150.375773  67.084330
20            1B-T2-Q21 -150.376000  67.084173
21            1B-T2-Q22 -150.376322  67.084044
22            1B-T2-Q24 -150.375571  67.083763
23            1B-T2-Q23 -150.375508  67.084143
24            1B-T4-Q34 -150.374157  67.084340
25            1B-T4-Q36 -150.374373  67.083844
26            1B-T4-Q35 -150.373713  67.083470
27              S1B_Q31 -150.374264  67.084644
28              S1B_Q32 -150.374389  67.084811
29              S1B_Q25 -150.374989  67.085631
30              S1B_Q26 -150.375308  67.085493
31              S1B_Q27 -150.375548  67.085333
32              S1B_Q28 -150.375873  67.085212
33              S1B_Q29 -150.376110  67.085059
34              S1B_Q30 -150.376472  67.084940
35              S1B_Q33 -150.373642  67.084024

In [23]:
geometry = [Point(xy) for xy in zip(df_center_latlong['X'], df_center_latlong['Y'])]
gdf = gpd.GeoDataFrame(df_center_latlong, crs='EPSG:4326', geometry=geometry)
gdf.to_file(r'F:\wenqu\GPS\shp\site1b\update1\site1b_quadrant_center_update1.shp', driver='ESRI Shapefile')